{% extends "pingshan/base.html" %}
{% block content %}
    <!--
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
    -->
    <u1>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        {% csrf_token %}
            <tbody>
            {% for event in values %}
                <tr>
                {% for field in event%}
                    <td width="85%" height="22" class="inddline">{{ field }}</td>
                {% endfor %}
                </tr><br>
            {% endfor %}
            </tbody>
        </table>
    </u1>
{% endblock content %}